.gamebackground{
    position: absolute;
    background-image: url("../../icons/casinobg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1000;
    .game {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.856);
        .leaveTable {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 50px;
            color: rgb(218, 236, 58);
        }
        #start {
            position: absolute;
            bottom: 40vh;
            left: 45vw;
        }
    }
}


.winner {
    z-index: 10000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(5px);
    h1, h2 {
        color: white;
    }
    .winningHand {
        margin: 8%;
        display: flex;
        transform: scale(1.5);
    }
}