.players {
    width: 200px;
    height: 300px;
    border:none !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hand {
        position: relative;
        top: -30px;
        display: flex;
        width: fit-content;
    }
    .portrait {
        position: relative;
        img {
            height: 150px;
            border-radius: 50% ;  
        }
        .timer{
            position: absolute;
            top: 0px;
            height: 150px !important;
            width: 150px !important;
        }
    }
    .chips {
        display: flex;
        height: 20px;
        position: relative;
        top: -15px;
        p {
            padding: 0;
            margin-left: 5px;
        }
        img {
            padding: 0;
            height: 20px;
        }
    }
    .actions {
        display: flex;
        button {
            margin: 5px;
            padding: 0;
            border: transparent;
            border-radius: 20px;
            height: 30px;
            width: 50px;
            background-color: rgba(49, 49, 49, 0.479);
            &:hover {
                background-color: rgba(173, 173, 173, 0.479);
            }
        }
    }
}
.player1{
    top: 25vh;
    left: 10vw;
}
.player2{
    top: 55vh;
    left: 25vw;
}
.player3{
    top: 60vh;
    left: 45vw;
}


